@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Jenna's Website";
}


    
<h1>Jenna Habel</h1>

<img id="pic" src="img/Jenna.JPG" width="200" height="275" class="center-block" />

<br /><br />
<div class="container-sm">
    <p class="text-center">
        I am excited to be starting the Enterprise Application Development class.
        I am excited to learn ASP.NET, C# and jquery.
        I have never used jquery and I have never used a strongly typed language.
        What I have liked about using basic ASP.NET is it combines a lot of languages we know.
        I hop through this coarse I can not only learn new languages but also become more proficient at
        both backend and front end development,css and bootstrap and javascript.
    </p>
</div>

<ul>
    <li><b>Jobs I'm most interested in:</b></li>
    <li>Consultant </li>
    <li>Web Development </li>
    <li>Security </li>
</ul>






